<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Functional">
            <directory>./tests/functional</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./src/phpMorphy/Generator</directory>
        </exclude>
        <report>
            <clover outputFile="clover.xml"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>